body {
    width: 80%;
    margin: auto;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

table {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
    border: 2px solid black;
}

tr {
    border: 2px solid blueviolet;
    height: 30px;
}